[Desktop Entry]
Type=Application
Name=Acer Battery Control
Comment=Control Acer battery health mode
Exec=/usr/bin/acer-battery-control-gui  # Đường dẫn thực thi ứng dụng
Icon=acer-battery-control # Đường dẫn tới file icon
Categories=Utility;System; # Danh mục ứng dụng
Terminal=false # Ứng dụng không chạy trong terminal