[Unit]
Description=Acer Battery Control GUI Backend
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 /etc/acer-battery-control-gui/backend.py
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target