Source: acer-battery-control-gui
Section: utils
Priority: optional
Maintainer: KhanhPNQ <phamngocquockhanh2004@gmail.com>
Build-Depends: debhelper-compat (= 13), python3, python3-setuptools, python3-pyqt5
Standards-Version: 4.6.1
Homepage: https://github.com/quockhanh2004/acer-battery-control-gui  # Thay bằng URL trang chủ của bạn (nếu có)

Package: acer-battery-control-gui
Architecture: any
Depends: ${python3:Depends}, python3-pyqt5, ${shlibs:Depends}
Description: A simple GUI to control Acer battery health mode.
 .
 This tool allows you to change the battery health mode on Acer laptops.
 It provides a graphical interface for easy management.